.container {
  margin: 0 auto;
  width: 90%;
}

#chart {
  width: 100%;
  min-width: 1000px;
  height: 700px;
}

.axis line, .axis path {
  stroke: #fff;
}
.axis text {
  text-anchor: middle;
  fill: grey;
}

.team-image {
  opacity: 0.5;
}

.team-label {
  fill: grey;
  font-size: 13px;
}

.position-line {
  stroke-width: 1;
  fill: none;
}

.win {
  fill: green;
}
.loss {
  fill: red;
}
.draw {
  fill: grey;
}
.home-away-text {
  fill: white;
  font-size: 0.5em;
  text-anchor: middle;
  pointer-events: none;
  cursor: default;
}

.tooltip text {
  font-size: 12px;
}

.dull {
  opacity: 0.25;
}
