body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

.container {
  margin: 0 auto;
  width: 90%;
}

header {
  margin: 20px 0;
}

header h4 {
  font-weight: normal;
  font-size: .9em;
  width: 80%;
  color: #666;
  text-align: center;
  margin: 0 auto;
}

footer {
  text-align: right;
  font-size: .9em;
  color: #666;
  font-style: italic;
}

footer a, footer a:visited, footer a:hover {
  color: #2980b9;
}

#chart {
  width: 100%;
  min-width: 1000px;
  height: 700px;
}

.axis line, .axis path {
  stroke: #fff;
}
.axis text {
  text-anchor: middle;
  fill: grey;
}

.team-image {
  opacity: 0.5;
}

.team-label {
  fill: grey;
  font-size: 13px;
}

.position-line {
  stroke-width: 1;
  fill: none;
}

.win {
  fill: green;
}
.loss {
  fill: red;
}
.draw {
  fill: grey;
}
.home-away-text {
  fill: white;
  font-size: 0.5em;
  text-anchor: middle;
  pointer-events: none;
  cursor: default;
}

.tooltip text {
  font-size: 12px;
}

.dull {
  opacity: 0.25;
}

.loading {
  color: #666;
  text-align: center;
  font-size: 0.9em;
}
